/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzerlog.txt
log.txt
tmp/

# Large files
entry/src/main/resources/rawfile/main_ru.dict
decompiled/ALL_FUNCTIONS.c
